/* src/components/RegisterForm.css */

.register-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #e0e0e0;
    text-align: center;
    margin-top: 40px;
  }
  
  .register-form-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }

  /* .register-input{
    width: 90%;
    padding: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
  } */
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    width: 90%;
    padding: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
  }
  
  select {
    appearance: none;
    padding-right: 25px;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9.293 12.293a1 1 0 0 1 1.414 0L12 13.586l1.293-1.293a1 1 0 1 1 1.414 1.414l-2 2a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 0-1.414z" fill="currentColor"></path></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
  }
  
  button.register-button {
    width: 100%;
    padding: 12px;
    background-color: #ee4d2d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 16px;
    outline: none;
  }
  
  button.register-button:hover {
    background-color: #ff6e4a;
  }
  